.app {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  display: flex;
  flex-flow: row;
  height: 80vh;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.toolbar button {
  margin-left: 10px;
}

.home-hero-v3-update-link-badge {
  margin-right: 19px;
  padding: 10px 20px;
  border-radius: 10000000px;
  background-color: #fc4c02;
  color: #fff;
  font-size: 14px;
  line-height: 1.143em;
  border: none;
}

.home-hero-v3-update-link-badge:hover {
background-color: #13322b;
-webkit-transform: scale3d(.95,.95,1.01);
transform: scale3d(.95,.95,1.01);
color: #fff;
cursor: pointer;
}

h1 {
  margin: 0 0 24px;
    color: #000;
    font-size: 58px;
    line-height: 1.276em;
    font-weight: 700;
    letter-spacing: -.01em;
    text-align: center;
}

.logo {
  padding-left: 100px;
  padding-top: 50px;
}

label {
  padding: 10px;
}

select {
  margin-right: 19px;
  padding: 10px 20px;
  border-radius: 10000000px;
  font-size: 14px;
  line-height: 1.143em;
}
