* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
}

.page-container {
    text-align: center;
    display: flex;
    flex-flow: row;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    text-align: center;
    flex-flow: row;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.editor-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.title {
    width: 100%;
    gap: 30px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.toolbar button {
    margin-left: 10px;
}

.home-hero-v3-update-link-badge {
    margin-right: 19px;
    padding: 10px 20px;
    border-radius: 10000000px;
    background-color: #fc4c02;
    color: #fff;
    font-size: 14px;
    line-height: 1.143em;
    border: none;
}

.home-hero-v3-update-link-badge:hover {
    background-color: #13322b;
    -webkit-transform: scale3d(.95, .95, 1.01);
    transform: scale3d(.95, .95, 1.01);
    color: #fff;
    cursor: pointer;
}

h1 {
    font-size: 58px;
    line-height: 1.276em;
    font-weight: 700;
    letter-spacing: -.01em;
    text-align: center;
}

.logo {
    padding-left: 100px;
    padding-top: 50px;
}

label {
    padding: 10px;
}

select {
    margin-right: 19px;
    padding: 10px 20px;
    border-radius: 10000000px;
    font-size: 14px;
    line-height: 1.143em;
}

.editor-divider {
    border-right: 1px solid black;
}

.dark-mode {
    background-color: #1E1E1E;
    color: white !important;
}

.MuiFormControlLabel-root>.MuiFormControlLabel-label {
    font-family: Poppins, sans-serif !important;
}

.MuiButtonBase-root.Mui-checked {
    color: #fc4c02 !important;
}

.MuiSwitch-track {
    background-color: #fc4c02 !important;
    opacity: 0.5 !important;
}
